.body {
  background-color: black;
  background-image: url("bg-pic.jpg");
  background-size: cover;
}
.nav {
  background-color: white;
  height: 65px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.nav-logo {
  height: 50px;
  width: 300x;
  background-size: contain;
}

.logo {
  background-image: url("logo.jpg");
  background-size: cover;
  height: 60px;
  width: 300px;
}

.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid black;
}
.nav-middle {
  display: flex;
  margin-left: 300px;
  margin-right: 350px;
}
.nav-middle a {
  color: #fc4c69;
  display: inline;
  margin-left: 30px;
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif;
}
.nav-right {
  display: flex;
  margin-left: 75px;
  padding: auto;
}
.button {
  height: 40px;
  width: auto;
  border-radius: 20px;
  border-style: solid;
  border-color: #fc4c69;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.button-lo {
  padding: 5px 10px 7px 10px;
  background: white;
  color: #fc4c69;
  border-radius: 15px;
  border-color: #fc4c69;
  margin: 20px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
}
.b-text {
  color: #fc4c69;
  top: 50%; /* Added top property */
  /* left: 50%; Added left property */
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 500px;
  text-decoration: none;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
  margin-top: 1.2rem;
  font-family: "Darker Grotesque", sans-serif;
}
a {
  text-decoration: none;
  color: #fc4c69;
  font-family: "Darker Grotesque Bold";
}
.main p {
  color: white;
  font-family: "Darker Grotesque Bold", sans-serif;
  font-weight: 800px;
  font-size: 95px;
  font-family: "Darker Grotesque", sans-serif;
}

/* login-page */
.login-body {
  background-color: #fd7e93;
  background-image: url("bg-pic.jpg");
  background-size: cover;
  font-family: "Darker Grotesque", sans-serif;
}
.log {
  align-items: center;
  justify-content: center;
}
.form {
  height: 550px;
  width: 700px;
  border: 1.5px transparent;
  border-radius: 20px;
  background-color: white;
  margin-top: 100px;
  font-family: "Darker Grotesque", sans-serif;
}
.log-main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 700px;
  unicode-bidi: isolate;
  font-family: "Darker Grotesque", sans-serif;
}
.log-input {
  height: 60px;
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 4px solid #fc4c69;
  border-radius: 20px;
  margin-bottom: 30px;
  font-family: "Darker Grotesque", sans-serif;
}
.sub-btn {
  background-color: #fc4c69;
  height: 60px;
  width: 80px;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  border-color: white;
  font-family: "Darker Grotesque", sans-serif;
  margin-bottom: 50px;
}

.log-main-signup {
  display: flex;
  justify-content: center;
  height: 120vh;
}
.sig-input {
  height: 40px;
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 4px solid #fc4c69;
  border-radius: 20px;
  margin-bottom: 30px;
  font-family: "Darker Grotesque", sans-serif;
}

.navlink :hover {
  font-weight: 900;
}

.navlink.active {
  text-decoration: underline 1.5px;
  text-underline-offset: 4px;
}

.title {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Darker Grotesque", sans-serif;
}

.title-pink {
  color: #fc4c69;
  font-size: 50px;
  text-align: center;
  font-family: "Darker Grotesque", sans-serif;
}

.ppl {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  color: black;
  font-family: "Darker Grotesque", sans-serif;
}

.pplcard {
  /* background-color: white;
  margin: 10px 10px 10px 10px; /* Add some margin for spacing */
  /* padding: 20px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;  */
  height: 150px;
  width: 90%;
  background-color: white;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "Darker Grotesque", sans-serif;
}

.ppltagline {
  color: #fc4c69;
  font-size: 15px;
  text-decoration: none;
  margin-top: 0px;
  font-family: "Darker Grotesque", sans-serif;
}

.ppldesc {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
}
/* connect page */
.main-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}
.box {
  height: 500px;
  width: 30%;
  background-color: white;
  align-items: center;
  padding: 20px 0px 15px;
  margin: 15px;
  border-radius: 20px;
}
.log-out {
  margin-left: auto;
}
.account {
  display: flex;
  align-items: center;
}

.acc-btn {
  display: flex;
  height: 100px;
  width: 400px;
  border: 2px transparent;
  border-radius: 40px;
  margin: 20px;
  font-weight: 300px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  padding-left: 30px;
}
.acc-img {
  height: auto;
  width: 80%;
  margin: 2px;
  border: 2px transparent;
  border-radius: 50px;
}
.box p {
  color: black;
  font-size: 2rem;
  font-weight: 700px;
  margin-left: 30px;
  margin-top: 2px;
}
.box ul {
  margin-left: 30px;
  margin-top: 2px;
  font-size: 1.5rem;
}
.box li {
  margin-top: 10px;
}
.con-input {
  height: 40px;
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  background-color: #fd7e93;
  color: white;
  margin-bottom: 30px;
  font-family: "Darker Grotesque", sans-serif;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  font-family: "Darker Grotesque", sans-serif;
}
.col {
  color: red;
}
.end {
  display: flex;
  margin-left: 10px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: center;
}
.end-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid white;
  height: 100px;
  width: 300px;
  background-color: hwb(195 28% 26% / 0.641);
  color: white;
  font-weight: bold;
  border-radius: 40px;
  margin: 20px;
  font-weight: 300px;
  font-size: 2rem;
  margin-left: 70px;
  padding-left: 10px;
  font-family: "Darker Grotesque", sans-serif;
}
